* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
}

html {
  /* Base styles go here */
  font: 14px/1.5 Arial, sans-serif;
  background: rgb(237, 26, 241);
}

body {
  background: lightgreen;
}

.ConnectMore {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
  border: 3px green solid;
}

.ConnectMore .Header {
  text-align: center;
}

.ConnectMore .Game {
  background-color: blue;
  display: flex;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
}

.ConnectMore .Game .Grid {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-evenly;
}

.ConnectMore .Game .Grid .Column {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  width: 50px;
  justify-content: flex-start;
  align-items: center;
  border: 0.5px solid orange;
  cursor: pointer;
}

.ConnectMore .Game .Grid .Column:hover {
  border: 1px solid teal
}

.ConnectMore .Game .Grid .Column .Token {
  width: 75px;
  height: 75px;
  text-align: center;
  border: 1px solid grey;
}

.ConnectMore .Game .Grid .Column .Token.player-1 {
  background-color: blueviolet;
}
.ConnectMore .Game .Grid .Column .Token.player-2 {
  background-color: burlywood;
}
